<div style="height: 100vh;" fxLayout="row" fxLayoutAlign="center center">

  <mat-card fxLayout="column" fxLayoutAlign="space-around center" style="width: 50%;height:fit-content;">

    <h2>Register</h2>


    <mat-form-field>
      <input matInput placeholder="Firstname">
    </mat-form-field>


    <mat-form-field>
      <input matInput placeholder="Lastname">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Email">
    </mat-form-field>



    <mat-form-field>
      <input type="password" matInput placeholder="Password">
    </mat-form-field>

    <mat-form-field>
      <input type="password" matInput placeholder="Checkpassword">
    </mat-form-field>



    <div style="width: 25%;" fxLayout="row" fxLayoutAlign="space-around center">

      <button mat-raised-button color="primary">Register</button>

    </div>


  </mat-card>

</div>