<div style="height: 100vh;" fxLayout="row" fxLayoutAlign="center center">

  <mat-card fxLayout="column" fxLayoutAlign="space-around center" style="width: 50%;height: 50%;">

    <h2>Login</h2>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Username">
    </mat-form-field>



    <mat-form-field class="example-full-width">
      <input type="password" matInput placeholder="Password">
    </mat-form-field>



    <div style="width: 25%;" fxLayout="row" fxLayoutAlign="space-around center">

      <button mat-raised-button color="primary">Login</button>

      <a routerLink="/blank/register">Register</a>

    </div>


  </mat-card>

</div>