<mat-tab-group>
  <mat-tab label="Maçonnerie">
    <mat-card style="height: 500px;"></mat-card>
  </mat-tab>
  <mat-tab label="Isolation">
    <mat-card style="height: 500px;"></mat-card>
  </mat-tab>
  <mat-tab label="Menuiserie">
    <mat-card style="height: 500px;"></mat-card>
  </mat-tab>
  <mat-tab label="Plomberie">
    <mat-card style="height: 500px;"></mat-card>
  </mat-tab>
  <mat-tab label="Electricité">
    <mat-card style="height: 500px;"></mat-card>
  </mat-tab>
  <mat-tab label="Carrelage">
    <mat-card style="height: 500px;"></mat-card>
  </mat-tab>
</mat-tab-group>